<!DOCTYPE html>
<html>
<head>
 <title></title>
 <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
<h2></h2><center><b><p style="font-family:Tahoma;color:red;font-size: 15px"><center><b><p style="font-family:Tahoma;color:red;font-size: 15px">Welcome to my first flask app!<br/>
               You can convert from Celsius to Fahrenheit .<br/>
               For more info head into /about</center></b></p>
<p align="center"><a href=convert ><button id="theme-toggle">Convert</button></a></p>
</body>
</html>
<h2></h2><center><b><p style="font-family:Tahoma;color:red;font-size: 15px">To Shutdown the server please press the following button: <br/>
               </center></b></p></h2>
<p align="center"><a href=stop ><button id="theme-toggle">Shutdown</button></a></p>
</body>
</html>
